/* Player background */
.sermon-audio-player .mejs-container,
.sermon-audio-player .mejs-controls,
.sermon-audio-player .mejs-embed,
.sermon-audio-player .mejs-embed body {
    background-color: #ffffff !important;
    background: #ffffff !important;
}

/* Player controls */
.sermon-audio-player .mejs-controls .mejs-play button {
    background-image: url("../images/play.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #ffffff !important;
}
.sermon-audio-player .mejs-controls .mejs-pause button {
    background-image: url("../images/pause.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #ffffff !important;
}
.sermon-audio-player .mejs-controls .mejs-mute button {
    background-image: url("../images/sound.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #ffffff !important;
}
.sermon-audio-player .mejs-controls .mejs-unmute button {
    background-image: url("../images/mute.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #ffffff !important;
}
.sermon-audio-player .mejs-controls {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.sermon-audio-player .mejs-time {
    color: #888888;
}

/* Progress and audio bar background */
.sermon-audio-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.sermon-audio-player .mejs-controls .mejs-time-rail .mejs-time-total {
    background-color: #ddd !important;
}

/* Track progress bar background (amount of track fully loaded)
  We prefer to style these with the main accent color of our theme */
.sermon-audio-player .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: #ddd !important;
}

/* Current track progress and active audio volume level bar */
.sermon-audio-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.sermon-audio-player .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #384e58;
}
